<div class = "content-body mat-elevation-z5">
    
    
    
    <mat-card> 
            
   
        <br> 
        <br>
          <div class="img">
              <img src="../../../assets/img/advertencia.png "     width="25%">
              
            
          </div>
    <mat-card-content> 
       
           <div class="header">
              
               <br> 
               <b>Forgot password?</b>
               <br> 
               <br> 
               <br> 
               <br> 
             
           </div>
           <div class= "m">
            <a>  Enter your email and we'll send you a link to reset your password </a>
       
           </div>
          
           <br>  <br> 
             
            <div class="email-input">
               <mat-form-field class= "full-width" appearance="outline" >
                   <mat-label>Email</mat-label>
                   <input matInput autocomplete="off" required />
                 </mat-form-field>

            
                
                 <br>  <br> 


                 <button class="ancho b" mat-raised-button color="primary">Submit</button>
                
                 

            </div>
            <div>
               <br> 
               <br>
               <br> 
               <br>   
            <span class="center margin-top">Go back? <a class= "sign-up-link" routerLink="/">Go Back</a></span>  
            <br>
            <br>  
            </div>
       
           
    </mat-card-content>
    </mat-card>

  

  
  
</div>

