<div class = "content-body mat-elevation-z5">
    
    
    
     <mat-card> 
      <br> 
      <br>
        <div class="img">
            <img src="../../../assets/img/login.png.png "     width="25%">
            <br> 
             <br> 
             <br> 

        </div>
     <mat-card-content> 
        
            <div class="header">
                <br> 
                <b>Login</b>
                <br> 
                <br> 
                <br> 
            </div>
             <div class="email-input">
                <mat-form-field class= "full-width" appearance="outline" >
                    <mat-label>Email</mat-label>
                    <input matInput autocomplete="off" required />
                  </mat-form-field>

             </div>

             <div>
                <span class="aLink">Forgot Password?</span>
                <mat-form-field class= "full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type= "password" matInput autocomplete="off"  required/>
                    
                  </mat-form-field>
                 
                  <br>  <br> 

                  <button class="ancho b" mat-raised-button color="primary">Login</button>
                 
                  

             </div>
             <div>
                <br> 
                <br>
                <br> 
                <br>   
             <span class="center margin-top">Don't have an account? <a class= "sign-up-link" routerLink="/signup">Sign Up</a></span>  
             <br>
             <br>  
             </div>
        
            
     </mat-card-content>
     </mat-card>

   

   
   
</div>
